*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* utility  */

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  
  border-top: 8px solid rgb(0, 0, 0);
  display: inline-block;
}

.check{
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: transparent;
  border: 1px solid green;
  border-radius: 10px;
  color: green;
  line-height: 20px;
  text-align: center;
}

.cross{
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: transparent;
  border: 1px solid red;
  border-radius: 10px;
  color: red;
  line-height: 20px;
  text-align: center;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.button{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  color: lightgrey;
  background-color: white;
}

.label{
  color: white;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;

}

.label.editorial{
  background-color: #45ABEA;
}

.label.editorial::after{
  content: 'Editorial';
}

body{
  background-color: #F6F8F9;
}

/* header  */

header{
  background-color: white;
  padding: 10px 20px;
}

header img{
  width: 70px;
  vertical-align: middle;
}

header h1{
  display: inline-block;
  vertical-align: middle;
}

/* main  */

.main-top{
  padding: 20px 50px;
  border-bottom: 2px solid #F6F8F9;
}



#button-task{
  background-color: #47ADF1;
  border-color: #47ADF1;
  color: white;
}

.main-center{
  padding: 50px;
}

.main-list, .nested-list{
  list-style: none;
}



.main-list li span{
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 5px;
}

.nested-list li{
  padding: 20px;
}

.nested-list li span{
  font-size: 1em;
  font-weight: normal;
  margin-left: 5px;
}

