*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

body{
  background-color: #F6F8F9;
}

/* header  */

header{
  background-color: white;
  padding: 10px 20px;
}

header img{
  width: 70px;
  vertical-align: middle;
}

header h1{
  display: inline-block;
  vertical-align: middle;
}

/* main  */

.main-top{
  padding: 20px 50px;
  border-bottom: 2px solid #F6F8F9;
}

.button{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  color: lightgrey;
  background-color: white;
}

#button-task{
  background-color: #47ADF1;
  border-color: #47ADF1;
  color: white;
}

.main-center{
  padding: 50px;
}

#main-list > li{
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
}
#main-list > li::before{
  content: ;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid rgb(0, 0, 0);
  display: inline-block;
}